{% extends "base.html" %}
{% block content %}
<h3>Mis Cursos y Notas</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Nota 1</th>
      <th>Nota 2</th>
      <th>Nota Final</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for insc in inscripciones %}
    <tr>
      <td>{{ insc.curso.nombre }}</td>
      {% if insc.nota %}
        <td>{{ insc.nota.nota1 }}</td>
        <td>{{ insc.nota.nota2 }}</td>
        <td>{{ insc.nota.nota_final }}</td>
        <td>
          {% if insc.nota.aprobado %}
            <span class="text-success fw-bold">Aprobado</span>
          {% else %}
            <span class="text-danger fw-bold">Reprobado</span>
          {% endif %}
        </td>
      {% else %}
        <td colspan="4">Sin notas registradas</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
